<form action="/test/" method="post">
{% csrf_token %}
	 <label for="examen_naam">examen:</label>
    <input type="text" name="examen_naam" id="examen_naam" value="" /><br />
	<br />
	<label for="examen_student">naam student:</label>
	<input type="text" name="examen_student" id="examen_student" value="" /><br />
	<br />
     <label for="examen_naam">reden:</label>
	<input type="text" name="examen_reden" id="examen_reden" value="" /><br />
	<br />
   
	

<input type="submit" value="submit"  />
</form>